body {
    background-color: #a9dcdc85;
}

b {
    padding-left: 2.5%;
}

 img.bill {
    height: 20px;
    padding-left: 2%;
 }

 img.coins {
    height: 20px;
    padding-left: 2%;
 }

.amount-due {
    margin-bottom: 5%;
    margin-top: 2.5%;
}

.card {
    margin-top: 10%;
}

.card-header{
    background-color: aliceblue;
    text-align: left;
    padding-left: 2.5%;
}
